:root {
    --green: #00CC99;
    --blue: #0099CC;
    --black: #333333;
    --blue-text: #3399CC;
    --box-1: #56B5B5;
    --box-2:#6CAFD3;
    --box-3:#60D4B0;
    --dark-blue:#0C5777;
    --dark-green:#07BC83;
    --white:#FFFFFF;
    --gray:#EBEBEB;
    --blue-back:#115A7A;
    --back-box:#2B6884;
    --icon:#959595;

}

.wrapper {
    font-size: 18px;
    color: var(--black);
    font-family: 'Inter';
}
ul,li{
padding: 0%;
margin: 0%;
list-style-type: none;

}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--black);
}
.heading{
    color: var(--blue);
    text-transform: uppercase;
}
/* header start */
.header-first{
    background:var(--blue);
}
.header-second{
    background:var(--dark-blue);
}
.header-third{
    background:var(--dark-green);
}
.header-below-first{
    background:var(--white);
}

.header-below-second{
    background:var(--dark-green);
    color: var(--white);
}
.icon{
    position: absolute;
    width: 134px;
    height: 134px;
    top: 40px;
    left: 100px;

}
.icon img{
    width: 100%;
}
/* menu start */
.menu{
    background: var(--gray);
}
/* menu end */
/* header end */
.carousel-container{
    width: 100%;
    height: 70vh;
}
.carousel-inner .carousel-item {
    width: 100%;
    height: 70vh;
}
.carousel-inner .carousel-item img {
    width: 100%;
    height: 70vh;
}

.carousel-btn {
    position: absolute !important;
   right: 0 !important;
    bottom: 0 !important;
    display: flex !important;
    flex-direction: column;
    margin-left: 90%;
    margin-bottom: 13%;
}
.carousel-btn li{
    width: 5px;
    height:5px;
    margin: 7px;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
    box-shadow: 0 0 0 0.2rem rgb(14, 13, 13);
}
.carousel-indicators [data-bs-target] {
    background-color:transparent;
    border-top: -0px solid transparent;
    width: 5px;
    height: 5px;
    margin-left: 13px;
    background: #333333;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.short-bio{
    position: relative;
    top: -110px;
}
.short-bio .box-11{
    background: rgba(58, 181,181, 0.656);
}
.short-bio .box-22{
    background: rgba(108, 175, 211, 0.656)
}
.short-bio .box-33{
    background: rgba(96, 212, 176, 0.656)
}

/* services start */
/* .services{
    background: url(../img/Your-Bellevue-Dental-Team.jpg);
    width: 100%;
    height: 500px;
} */
.services { 
    position: relative; 
    height: 100vh;
    width: 100%;
    background-image: url(../img/Your-Bellevue-Dental-Team.jpg);
    background-size: cover;
}

.services::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(17, 11, 122, 0.656);
}
/* services end */
/* counter */
.counter{
    background: var(--dark-green);
}
/* counter */
/* our dentist start*/
.dr-containe {
    box-shadow: 0px 0px 1px black;
}
.dr-containe .dr-img{ 
    width: 250px;
    height: 250px;
    padding-bottom: 15px;

}
.dr-containe img{
    width: 100%;
    height: 100%;
}
.dr-img-1{
    background: var(--box-1);
}
.dr-img-2{
    background: var(--box-2);
}
.dr-img-3{
    background: var(--box-3);
}
/* our dentist end*/
/* footer start */
.footer{
    background: var(--gray);
}
.social-icon{
    color: var(--icon);
}
/* footer end */
/*  */


